.add-phone {
  position: fixed;
  background: white;
  border-radius: 8px;
  border: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  height: 400px;
  width: 200px;
  margin: 100px 30px;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 50%;
}

.phone-search {
  margin-top: 180px;
  margin-left: 50px;
  height: 40px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue
}
