.postCard {
  display: grid;
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  top: 300px;
  height: 300px;
  margin: 20px;
  float: left;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0.025);
  text-align: center;
  transition: height 1000ms;
  width: 500px;
}
.add-post {
    position: fixed;
    background: white;
    border-radius: 8px;
    border: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    height: 400px;
    width: 200px;
    margin: 250px 30px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 50%;
}

.deletePost {
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  background-color: #b30000;
  margin-top: 100px;
  height: auto;
  width:auto;
}

.dlte-post-button {
  display: grid;
}
